   <!-- Cidade Section
   ================================================== -->
   <section id="cidade">

      <div class="row section-head">

         <div class="col full">
            <h2>A Cidade</h2>
         </div>

      </div>

      <div class="row">
         <p>Lisboa é a capital do nosso país, estando situada junto ao estuário do rio Tejo. É a cidade das sete colinas, do fado da Amália, do Bairro Alto e dos Santos Populares, do Mosteiro dos Jerónimos e da Torre de Belém. Depois de devastada pelo terramoto de 1755, foi reerguida por Marquês de Pombal, que visionou um novo estilo arquitectónico para a cidade, dando origem à Avenida da Liberdade e à Baixa tal como as conhecemos hoje. Não se rogando ao passar do tempo, continua hoje a mostrar-se pioneira na modernização com a construção da Ponte 25 de Abril, que ainda hoje é a 20ª maior ponte suspensa do mundo, com a realização da Expo98, com a construção da Ponte Vasco da Gama (a maior da Europa!) ou ainda com a requalificação urbana, como é o caso do Parque das Nações onde se situam, entre outros, o Oceanário ou o Meo Arena.</p>
         <p>Apesar de não possuir o estatuto de cidade dos estudantes, é casa para mais de 100 mil estudantes universitários que se dividem pelas várias universidades públicas, privadas e politécnicos presentes. </p>
         <p>Por ser uma cidade de beleza inquestionável, de tradições seculares e de hospitalidade tipicamente portuguesa, tem sido galardoada com diversos prémios na área do Turismo: 
         <ul><li> - Segundo Melhor Destino Europeu em 2013;</li><li> - Melhor cidade para viagens de curta duração WTM em 2013.</li></ul>
         </p>
      </div>

   </section> <!-- Cidade Section End-->

   <!-- Map Section
   ==================================================
   <section id="map">

      <p class="map-error">Something went wrong... Unable to load map... Please try to enable javascript</p>

   </section> <!-- Map Section End-->
