 <!-- Intro Section
   ================================================== -->
 <section id="intro">

    <!-- Flexslider Start-->
   <div id="intro-slider" class="flexslider">

     <ul class="slides">

       <!-- Slide -->
       <li>
         <div class="row">
           <div class="col full">
             <div class="slider-text">
               <h2>O <a>Encontro Nacional de Estudantes de Engenharia Mecânica</a> realizar-se-á em <a>Lisboa, de 31 a 34 de Março de 2014.</a></h2>
             </div>
           </div>
         </div>
       </li>

     </ul>
   </div>
   <!-- Flexslider End-->

 </section> <!-- Intro Section End-->