   <!-- oradores Section
   ================================================== -->
   <section id="oradores">

      <div class="row section-head">

         <div class="col one-fourth">
            <h2>Oradores</h2>
         </div>

      </div>

         {{#each speakers}}
         <!-- Team Wrap End -->
         <div class="row team-wrap">
            {{#each cells}}
            <div class="col one-fourth">

               <!--<img src="https://graph.facebook.com/{{facebook}}/picture?type=large" alt=""/>-->
               <img src="images/{{photo}}" alt=""/>

               <div class"member-name">
                  <h5>{{name}}</h5>
                  <span>{{description}}</span>
               </div>
            </div>
            {{/each}}
         </div>
         {{/each}}

      </div> <!-- Team Wrap End -->

   </section>  <!-- oradores Section End -->
