
    <!-- Parceiros Section
   ================================================== -->
   <section id="parceiros">

      <div class="row section-head">

         <div class="col full">
            <h2>Apoios e Parceiros</h2>
         </div>

      </div>

      <!-- Team Wrap End -->
      <div class="row team-wrap">
         {{#each partners}}
         <div class="col one-fourth">
            <img src="{{image}}" alt=""/>
         </div>
         {{/each}}
      </div>


   </section> <!-- Parceiros Section End-->
