
    <!-- Parceiros Section
   ================================================== -->
   <section id="parceiros">

      <div class="row section-head">

         <div class="col full">
            <h2>Apoios e Parceiros</h2>
         </div>

      </div>

      {{#each partners}}
      <!-- Team Wrap End -->
      <div class="row team-wrap">
         {{#each cells}}
         <div class="col one-fourth">
            <img src="images/{{image}}" alt=""/>
         </div>
         {{/each}}
      </div>
      {{/each}}
         

   </section> <!-- Parceiros Section End-->
