   <!-- Participar Section
   ================================================== -->
   <section id="participar">

      <div class="row section-head">
         <div class="col full">

            <h2>Participar</h2>
            <!--<p class="desc">Em breve, as inscrições serão abertas, fica atento à nossa página do facebook!
</p>-->

            <p class="intro">Em breve, as inscrições serão abertas, fica atento à nossa página do facebook!

            </p>

         </div>
      </div>

   </section> <!-- Participar End -->
