<!-- Programa Section
   ================================================== -->
   <section id="programa">

      <div class="row section-head">

         <div class="col one-third">
            <h2>Programa</h2>
            <p class="desc">Our awesome programa.</p>
         </div>

      </div>

      <div class="row">

         <div class="programa-wrapper">

            <p>Este ano, no IST, com o slogan “Inspira o teu Futuro”, será realizado o ENEEM’14! Queremos que te surpreendas, te inspires e que, assim, consigas encarar o futuro de forma mais optimista. Para isso preparámos uma série de actividades, workshops e palestras que, na sua componente mais técnica, abordarão com maior foco a tecnologia e o futuro tecnológico. 
            <br>Além disso, com as diversas actividades de diversão, também conseguirás ganhar novas amizades e colegas, que expandirão a tua “network” e transformarão o teu evento em algo inesquecível!</p>

         </div> <!-- Programa-Wrapper End -->

         <TABLE DIR="LTR" ALIGN=LEFT WIDTH=636 CELLPADDING=7 CELLSPACING=0>
   <COL WIDTH=56>
   <COL WIDTH=127>
   <COL WIDTH=127>
   <COL WIDTH=127>
   <COL WIDTH=126>
   <TR>
      <TD WIDTH=56 HEIGHT=4>
         <P ALIGN=CENTER><B>Horas</B></P>
      </TD>
      <TD WIDTH=127 >
         <P ALIGN=CENTER><B>10
         de Abril</B></P>
      </TD>
      <TD WIDTH=127 >
         <P ALIGN=CENTER><B>11
         de Abril</B></P>
      </TD>
      <TD WIDTH=127 >
         <P ALIGN=CENTER><B>12
         de Abril</B></P>
      </TD>
      <TD WIDTH=126>
         <P ALIGN=CENTER><B>13
         de Abril</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>8h30</B></P>
      </TD>
      <TD ROWSPAN=11 WIDTH=127 >
         <P ALIGN=CENTER>&nbsp;</P>
      </TD>
      <TD WIDTH=127 >
         <P ALIGN=CENTER>Alvorada</P>
      </TD>
      <TD WIDTH=127 >
         <P ALIGN=CENTER>Alvorada</P>
      </TD>
      <TD WIDTH=126>
         <P ALIGN=CENTER>Alvorada</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=6 >
         <P ALIGN=CENTER><B>9h00</B></P>
      </TD>
      <TD ROWSPAN=2 WIDTH=127 >
         <P ALIGN=CENTER>Pequeno-Almoço</P>
      </TD>
      <TD ROWSPAN=2 WIDTH=127 >
         <P ALIGN=CENTER>Pequeno-Almoço</P>
      </TD>
      <TD ROWSPAN=2 WIDTH=126 >
         <P ALIGN=CENTER>Pequeno-Almoço</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>9h30</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>10h00</B></P>
      </TD>
      <TD ROWSPAN=2 WIDTH=127 >
         <P ALIGN=CENTER>Palestra</P>
      </TD>
      <TD ROWSPAN=5 WIDTH=127 >
         <P ALIGN=CENTER>Competições
         de Engenharia</P>
      </TD>
      <TD ROWSPAN=5 WIDTH=126 >
         <P ALIGN=CENTER>Visita
         por Lisboa</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>10h30</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=6 >
         <P ALIGN=CENTER><B>11h00</B></P>
      </TD>
      <TD WIDTH=127 >
         <P ALIGN=CENTER>Coffee-Break</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>11h30</B></P>
      </TD>
      <TD ROWSPAN=2 WIDTH=127 >
         <P ALIGN=CENTER>Palestra</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>12h00</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>12h30</B></P>
      </TD>
      <TD ROWSPAN=3 WIDTH=127 >
         <P ALIGN=CENTER>Almoço</P>
      </TD>
      <TD ROWSPAN=3 WIDTH=127 >
         <P ALIGN=CENTER>Almoço</P>
      </TD>
      <TD ROWSPAN=3 WIDTH=126 >
         <P ALIGN=CENTER>Almoço</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>13h00</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>13h30</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>14h00</B></P>
      </TD>
      <TD ROWSPAN=10 WIDTH=127 >
         <P ALIGN=CENTER>Sessão
         de Abertura e Recepção</P>
      </TD>
      <TD ROWSPAN=6 WIDTH=127 >
         <P ALIGN=CENTER>Torneio
         de Liderança</P>
      </TD>
      <TD ROWSPAN=2 WIDTH=127 >
         <P ALIGN=CENTER>Palestra</P>
      </TD>
      <TD ROWSPAN=4 WIDTH=126 >
         <P ALIGN=CENTER>Sessão
         de Encerramento</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>14h30</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>15h00</B></P>
      </TD>
      <TD ROWSPAN=6 WIDTH=127 >
         <P ALIGN=CENTER>Coffee-Break
         e Demonstrações na Feira</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>15h30</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>16h00</B></P>
      </TD>
      <TD ROWSPAN=15 WIDTH=126>
         <P ALIGN=CENTER>&nbsp;</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>16h30</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>17h00</B></P>
      </TD>
      <TD ROWSPAN=6 WIDTH=127 >
         <P ALIGN=CENTER>Pitch</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>17h30</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>18h00</B></P>
      </TD>
      <TD ROWSPAN=2 WIDTH=127 >
         <P ALIGN=CENTER>Palestra</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>18h30</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=6 >
         <P ALIGN=CENTER><B>19h00</B></P>
      </TD>
      <TD ROWSPAN=9 WIDTH=127>
         <P ALIGN=CENTER>Churrasco
         Convívio</P>
      </TD>
      <TD ROWSPAN=2 WIDTH=127 >
         <P ALIGN=CENTER>Palestra</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>19h30</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>20h00</B></P>
      </TD>
      <TD ROWSPAN=2 WIDTH=127 >
         <P ALIGN=CENTER>Jantar</P>
      </TD>
      <TD ROWSPAN=4 WIDTH=127 >
         <P ALIGN=CENTER>Jantar
         Convívio</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>20h30</B></P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>21h00</B></P>
      </TD>
      <TD ROWSPAN=2 WIDTH=127 >
         <P ALIGN=CENTER>Evento
         Cultural</P>
      </TD>
   </TR>
   <TR>
      <TD WIDTH=56 HEIGHT=5 >
         <P ALIGN=CENTER><B>21h30</B></P>
      </TD>
   </TR>
   <TR>
      <TD ROWSPAN=3 WIDTH=56 HEIGHT=6>
         <P ALIGN=CENTER><B>22h00</B></P>
      </TD>
      <TD ROWSPAN=3 WIDTH=127>
         <P ALIGN=CENTER>Noite
         em Lisboa</P>
      </TD>
      <TD ROWSPAN=3 WIDTH=127>
         <P ALIGN=CENTER>Noite
         em Lisboa</P>
      </TD>
   </TR>
   <TR>
   </TR>
   <TR>
   </TR>
</TABLE>

      </div> <!--end row -->

   </section> <!-- Programa Section End -->