<!-- Programa Section
   ================================================== -->
   <section id="programa">

      <div class="row section-head">

         <div class="col one-third">
            <h2>Programa</h2>
         </div>

      </div>

      <div class="row">

         <div class="programa-wrapper">

            <p>Este ano, no IST, com o slogan “Inspira o teu Futuro”, será realizado o ENEEM’14! Queremos que te surpreendas, te inspires e que, assim, consigas encarar o futuro de forma mais optimista. Para isso preparámos uma série de actividades, workshops e palestras que, na sua componente mais técnica, abordarão com maior foco a tecnologia e o futuro tecnológico. 
            <br>Além disso, com as diversas actividades de diversão, também conseguirás ganhar novas amizades e colegas, que expandirão a tua “network” e transformarão o teu evento em algo inesquecível!</p>

         </div> <!-- Programa-Wrapper End -->

         <img src="/images/horario.jpg">
      </div> <!--end row -->

   </section> <!-- Programa Section End -->